{% extends "base.html.twig" %}
{% block title %}Api{% endblock %}
{% block body %}
<div>
    <h1>Api</h1>
    <div class="main">
        <p><a href="{{ path('lucky_number_json') }}">Hämta Magic Number (JSON)</a></p> 
        <p><a href="{{ path('api_quote') }}">Hämta Dagens Citat</a></p> 
        <p><a href="{{ path('card_deck') }}">Visa Kortlek</a></p> 
        <p><a href="{{ path('card_deck_shuffle') }}">Blanda Kortlek</a></p> 
        <p><a href="{{ path('card_deck_draw') }}">Dra ett Kort</a></p> 
        <p><a href="{{ path('card_deck_draw_multiple', {'number': 5}) }}">Dra 5 kort</a></p>
    </div>
</div>
{% endblock %}
